:root {
    /* Cores */
    --background-color: 000090E;
    --cor-do-texto: #E1E1E1;
    --cor-primaria: #81FE88;
    --cor-secundaria: #888888;
    --cor-da-tag: #171D1F;
    --itens-do-background: #171D1F;
    
    /* Fontes */
    --fonte-padrao: 'Prompt', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--background-color);
    color: var(--cor-do-texto);
}