:root {
  /* Cores */
  --background-color: #00090e;
  --cor-do-texto: #e1e1e1;
  --cor-primaria: #81fe88;
  --cor-secundaria: #888888;
  --cor-da-tag: #171d1f;
  --componentes-do-background: #171d1f;

  /* Fontes */
  --fonte-padrao: "Prompt", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2.7rem;
  font-family: var(--fonte-padrao);
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--cor-do-texto);
  padding: 5.6rem 0;
  height: 100vh;
}

.l-lateral {
  text-align: center;
  background-color: var(--componentes-do-background);
  border-radius: 1rem;
  padding: 4rem 1.6rem;
}

.c-menu__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 8rem;
  list-style-type: none;
}

.c-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--cor-secundaria);
}

.c-menu__lista li:first-of-type a {
  color: var(--cor-primaria);
  border: 0.1rem solid var(--cor-primaria);
  border-radius: 0.8rem;
  padding: 1.2rem 3rem;
}

.l-principal {
  display: flex;
  gap: 2.4rem;
  background-color: var(--componentes-do-background);
  border-radius: 1rem;
  padding: 3.2rem;
}

.c-formulario {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 42.2rem;
}

.c-formulario__titulo {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.c-formulario__acoes {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.c-formulario__grupo label {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.c-formulario__grupo input,
textarea {
  background-color: var(--cor-secundaria);
  font-family: var(--fonte-padrao);
  line-height: 2.25rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  width: 100%;
}

.c-formulario__grupo textarea {
  resize: none;
  height: 16.1rem;
}

.c-formulario__grupo input {
  height: 3.9rem;
}

.c-formulario__grupo input::placeholder, textarea::placeholder {
  color: var(--componentes-do-background);
}

.c-formulario__grupo label {
  cursor: pointer;
}

.c-formulario__lista {
  display: flex;
  gap: 1.0rem;
  flex-wrap: wrap;
  list-style-type: none;
}

.c-formulario__lista-tags {
  display: flex;
  gap: 1rem;
  color: var(--cor-da-tag);
  background-color: var(--cor-secundaria);
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.c-formulario__botoes {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.c-formulario__botao {
  font-family: var(--fonte-padrao);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem 1.2rem 1.2rem;
  cursor: pointer;
}

.c-formulario__botao--descartar,
.c-formulario__botao--salvar {
  position: relative;
}

.c-formulario__botao--descartar {
  color: var(--cor-primaria);
  background-color: var(--componentes-do-background);
  border: 0.1rem solid var(--cor-primaria);
}

.c-formulario__botao--salvar {
  color: var(--background-color);
  background-color: var(--cor-primaria);
  border: 0.1rem solid var(--cor-primaria);
}

.c-formulario__botao--descartar::after,
.c-formulario__botao--salvar::after,
.c-upload-imagem__botao::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: translateY(-50%);
}

.c-formulario__botao--descartar::after {
  background-image: url("../img/trash.svg");
}

.c-formulario__botao--salvar::after {
  background-image: url("../img/arrow_forward2.svg");
}

.c-upload-imagem__botao::after {
  background-image: url("../img/upload.svg");
}

.c-upload-imagem__publicacao {
  background-color: var(--secundary-color);
  border-radius: 0.8rem;
  padding: 2.4rem 1.6rem;
  height: 36.8rem;
}

.c-upload-imagem__publicacao img {
  border-radius: 0.8rem;
  object-fit: cover;
  height: 100%;
}

.c-upload-imagem__botao {
  position: relative;
  color: var(--cor-secundaria);
  background-color: var(--componentes-do-background);
  font-family: var(--fonte-padrao);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin: 1.6rem 0 0.8rem 0;
  border: 0.1rem solid var(--cor-secundaria);
  border-radius: 0.8rem;
  padding: 1.2rem;
  width: 100%;
  cursor: pointer;
}

.c-upload-imagem__descricao {
  display: flex;
  gap: 0.8rem;
  color: var(--secundary-color);
  font-size: 1.5rem;
}

.c-upload-imagem__descricao img {
  cursor: pointer;
}

.c-upload-imagem__mensagem-erro {
  margin-top: 1.5rem;
}


.piscar {
  animation: piscar 1.5s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.c-botao {
  position: relative;
  background-color: transparent;
  border: none;
  width: .9rem;
  height: 2.2rem;
  cursor: pointer;
}

.c-botao::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: .9rem;
  height: .9rem;
  transform: translate(-50%, -50%);
}

.c-botao--excluir::after {
  background-image: url("../img/close-black.svg");
}

.c-botao--fechar::after {
  background-image: url("../img/close.svg");
}